.bg-contain {
  background-size: contain;
}
.bg-cover {
  background-size: cover;
}
.bg-position-center {
  background-position: center;
}
.bg-position-bottom {
  background-position: bottom;
}
.bg-position-top {
  background-position: top;
}
.bg-overlay {
  background-blend-mode: overlay;
}
.bg-primary {
  background-color: $primary;
  a {
    color: $text-on-primary;
    text-decoration: underline;
  }
  .text-muted {
    color: darken($white,15%) !important;
  }
  .btn-primary {
    @include button-variant($secondary, $secondary);
  }
  .form-text {
    color: $text-on-primary;
  }
}
.bg-secondary {
  background-color: $secondary;
}
