.content {
  padding-top: 25px;
  ul,
  ol {
    margin-top: 10px;
    margin-bottom: 20px;
    li {
      margin-bottom: 5px;
      margin-left: 20px;
    }
  }
  a {
    text-decoration: underline;
  }
  p {
    color: rgb(78, 78, 78);
    font-family: $font-family-base;
  }
  h1 {
    font-family: $font-family-heading;
    line-height: 1.2;
    font-weight: $font-weight-light;
    color: #333333;
    @include media-breakpoint-up(md) {
      line-height: 1.2;
      font-weight: $font-weight-light;
    }
  }
  h2 {
    font-family: $font-family-heading;
    line-height: 1.4;
    font-weight: 400;
    color: #333333;
    @include media-breakpoint-up(md) {
      line-height: 1.4;
    }
  }
  // Subheading
  h3 {
    color: $primary;
    line-height: 1.4;
    font-weight: $font-weight-thin;
    letter-spacing: 1px;
    @include media-breakpoint-up(md) {
      line-height: 1.4;
      letter-spacing: 1.8px;
      font-weight: $font-weight-thin;
    }
  }
}
