.hugo-nimrod-countdown {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 24px;

  > div {
    padding: 10px;
    border-radius: 3px;
    background: $highlight;
    display: inline-block;

    > span {
      border-radius: 3px;
      background: $primary;
      display: block;
      width: 2.5em;
      height: 2.5em;
      line-height: 2.5em;
      vertical-align: middle;
    }
  }
  .smalltext{
    padding-top: 5px;
    font-size: 16px;
  }
}
