.a-state {
  padding-top: 0;
  font-size: 12px;
  color: $white;
  .toggle {
    position: relative;
    display: inline-block;
    color: $gray-500;
    label.unknown, input { display: none; }
    input + label {
      margin: 0;
      padding: 0px 5px;
      width: auto;
      border: 1px solid $gray-500;
      &.on, &.off {
        text-align:center;
        cursor:pointer;
      }
    }
    input + label.on:hover {
      color: $white;
    }
    input:disabled + label {
      cursor: default;
      display: none;
    }
    input:disabled + label:hover {
      color: inherit;
    }
    input:disabled:checked + label {
      display:inline-block;
    }
    input:checked + label.on {
        background: #42AE49;
        border-color: #42AE49;
        color: $white;
    }
    input:checked + label.off {
        background: #E84838;
        border-color: #E84838;
        color: $white;
    }
    input:checked + label {
      font-weight: bold;
    }
  }
  .checked.on {
    background: darken($success, 10%);
    color: $white;
    font-weight: bold;
  }
  .checked.off {
    background: $danger;
    color: $white;
    font-weight: bold;
  }
}
