.image {
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: top center;
  // height: 400px;
  position: relative;
  .container {
    height: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;    
  }
  .row {
    height: inherit;
  }
  .text {
    flex: 0;
    color: $primary;
    margin: 5% 0 0 0;
    max-width: 70%;
    @include media-breakpoint-up(sm) {
      max-width: 60%;
    }
    @include media-breakpoint-up(md) {
      max-width: none;
    }
    h1 {
      font-size: 2rem;
      @include media-breakpoint-up(md) {
        font-size: 4rem;
        width: 80%;
      }
    }
    h2 {
      font-size: 2.2rem;
      @include media-breakpoint-up(md) {
        font-size: 2.4rem;
      }
    }
    p {
      font-size: 1.6rem;
      line-height: 1.3;
      width: 100%;
      @include media-breakpoint-up(md) {
        font-size: 1.6rem;
        width: 45%;
      }
    }
  }
  .down {
    flex: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .section {
    text-transform: uppercase;
    font-weight: normal;
  }
}
.image-fullscreen {
  height: 100vh;
}
.image-setheight {
  height: 100vh;
  max-height: 55ex;
  min-height: 35ex;
  @include media-breakpoint-up(md) {
    height: 42vh;
    max-height: none;
  }
}
.image-blend-overlay {
  background-blend-mode: overlay;
}
