  @include media-breakpoint-up(md) {

.main-menu {
    display: block;
    position: static;
    background: none;
    width: auto;
    height: auto;
    opacity: 1;
    visibility: visible;
    transition: none;
    overflow: visible;
    justify-content: normal;
    align-items: normal;
    flex-direction: row;
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > li {
      list-style: none;
      font-size: 0.9rem;
      > a {
        padding: 10px 14px 10px 14px;
        display: inline-block;
        font-weight: regular;
        text-transform: uppercase;
        text-decoration: none;
        color: $primary;
        &:hover {
          background: $primary;
          color: $white;
          text-decoration: none;
        }
      }
      &.active {
        > a {
          background: $primary;
          text-decoration: none;
          color: $white;
          &:hover {
            text-decoration: none;
            background: $primary;
            transition: all 225ms ease-in 0s;
            color: $white;
          }
        }
      }
    }
  }
}
}
