<div class="work work-summary">
  {{- if .Params.icon -}}
  <div class="work-image">
  {{- with .Params.icon -}}
    {{- if (fileExists .) -}}
      {{- readFile . | safeHTML -}}
    {{- end -}}
  {{- end -}}
  </div>
  {{- end -}}
  <div class="work-content">
    <h2 class="work-title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    {{ .Content | truncate 120 "..." }}
  </div>
</div>
