{{- partial "meta/_check_meta.html" . -}}

<!DOCTYPE html>
<html lang="{{ .Language }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Language" content="{{ .Language }}">
  {{ "<!--[if IE ]>" | safeHTML }}<meta http-equiv="imagetoolbar" content="no">{{ "<![endif]-->" | safeHTML }}
  <meta http-equiv="cleartype" content="on">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="application-name" content="{{ .Site.Title }}">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
  <meta name="theme-color" content="#ffffff">
  <meta name="msapplication-TileColor" content="#2b5797">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/pwam.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2b5797">
  <title>{{ block "title" . }}{{ .Site.Title }}{{ with .Title }} - {{ . }}{{ end }}{{ end }}</title>
  {{- partial "frontmatter.html" . -}}
  {{ if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production") }}
  <meta name="robots" content="index, follow">{{ else }}
  <meta name="robots" content="noindex, nofollow">{{ end }}
  {{- if .Site.IsServer -}}
  {{- $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) -}}
  <link rel="stylesheet" href="{{ ($style).RelPermalink }}">
  {{- else -}}
  {{- $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) -}}
  <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
  {{- end -}}
  <link rel="preconnect" href="https://plausible.io">
  <link rel="dns-prefetch" href="https://plausible.io">
</head>
<body class="vcard contact page {{ block "body_classes" . }}{{ end }}">
  {{- "<!--[if lte IE 11]>" | safeHTML -}}
  <p class="browserupgrade">{{- i18n "old-browser" | safeHTML -}}</p>
  {{- "<![endif]-->" | safeHTML -}}
  <div id="wrapper" class="wrapper">
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}
  </div>

  {{ partial "footer.html" . }}
  {{ partial "sub-footer.html" . }}

  {{ $scripts := resources.Get "js/scripts.js" }}
  {{ block "footer_js" . }}{{ end }}
  {{ if .Site.IsServer }}
  <script type="text/javascript">{{ $scripts.Content | safeJS }}</script>
  {{ else }}
  <script type="text/javascript">{{ ($scripts | minify | fingerprint).Content | safeJS }}</script>
  {{ end }}
</body>
</html><!--EOF-->
