{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="container strip">
  <div class="row justify-content-center">
    <div class="col-12 col-md-9">
      <div class="content">
        {{.Content}}
      </div>
    </div>
  </div>
</div>
{{ end }}