<h4>{{ i18n "languages" | default "other languages" }}</h4>
<ul id="lang">
{{- $currentLang := .Site.Language.Lang -}}
{{- range .AllTranslations -}}
  <li>
  {{- if eq .Lang $currentLang -}}
    <span class="active">{{ i18n .Lang | default .Lang }}</span>
  {{- else -}}
    <a href="{{ .Permalink }}">{{ i18n .Lang | default .Lang }}</a>
  {{- end -}}
  </li>
{{- end -}}
</ul>