<div class="footer align-middle">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-4"></div>
      <div class="col-8">
        <div class="footer-inner justify-content-end">
          <nav role="navigation">
          <ul class="footer-menu nav justify-content-end">
{{ $currentPage := . }}
{{ range .Site.Menus.footer }}
    {{ if .HasChildren }}
    {{ else }}
        {{ if $currentPage.IsMenuCurrent "footer" . }}
            <li class="nav-item"><span class="active font-weight-bold">{{ .Name }}</span></li>
        {{ else }}
            <li class="nav-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
    {{ end }}
{{ end }}
            <li class="copyright">© {{ now.Format "2006" }} {{ .Site.Copyright }}</li>
          </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
