{{- with .Site.Params.author -}}  <meta name="author" content="{{ delimit . ", " }}">{{- end -}}
{{- with .Site.Params.publisher -}}{{- else -}}{{- with .Site.Params.author -}}  <meta name="publisher" content="{{ . }}">{{- end -}}{{- end -}}
{{- with .Description -}}  <meta name="description" content="{{ . }}">{{ end }}
{{- with .Keywords -}}  <meta name="keywords" content="{{ delimit . ", " }}">{{- end -}}
  <link rel="publisher" href="{{ .Site.BaseURL }}">
  <link rel="shortcut icon" href="/favicon.ico" type="image/ico">
  <link rel="icon" href="/favicon.ico" type="image/ico">
{{- range .AlternativeOutputFormats }}
{{ printf `  <link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{- end -}}
{{- if .IsTranslated -}}
{{- range .Translations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
{{- end -}}
{{- end -}}