<button aria-label="{{ i18n "main-menu" }}" id="toggle-main-menu" class="hamburger hamburger--slider" type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>