<div class="header header-absolute">
  <div class="container">
    <div class="logo">
      <a href="{{ .Site.BaseURL }}"><img height="54" width="162" alt="{{ .Site.Title }}" src="/images/logo.svg" /></a>
    </div>
    <div class="logo-mobile">
      <a href="{{ .Site.BaseURL }}"><img height="54" width="162" alt="{{ .Site.Title }}" src="/images/logo-mobile.svg" /></a>
    </div>
    {{ partial "main-menu.html" . }}
    {{ partial "hamburger.html" . }}
  </div>
</div>
