<div id="hero" class="image image-setheight" style="background-image: url('{{ .background | relURL }}')">
  <div class="container ">
    <div class="text">
      <span class="section">{{ .section }}</span>
      <h1>{{ .heading }}</h1>
      <p>{{ .subheading }}</p>
    </div>
    {{- partial "image-down.html" . -}}
  </div>
</div>
  