<div id="menu">
    <ul id="menulevel1">
{{ $currentPage := . }}
{{ range .Site.Menus.main }}
    {{ if .HasChildren }}
    {{ else }}
        {{ if $currentPage.IsMenuCurrent "main" . }}
        <li><span class="active">{{ .Name }}</span></li>
        {{ else }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
    {{ end }}
{{ end }}
    </ul>
    {{ partial "link/all-languages.html" . }}
</div>
