<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            <li>{{- partial "tracking/dnt-state.html" . -}}</li>
            <li>{{- partial "tracking/no-fingerprints.html" . -}}</li>
            <li>{{- partial "tracking/no-cookies.html" . -}}</li>
          </ul>
          <ul>
            <li class="home"><a href="{{ .Site.BaseURL }}">{{- (urls.Parse .Site.BaseURL).Host -}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
