{{ define "title" }}{{ .Site.Title }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}

{{ partial "image-setheight-down.html" (dict "background" .Params.background "heading" .Params.heading "subheading" .Params.subHeading "content" .Params.href "#home" .)}}

{{ $headless := .Site.GetPage "/homepage" }}
{{ $reusablePages := $headless.Resources.ByType "page" }}
{{ $reusablePages := sort $reusablePages ".Params.weight" }}
{{- if gt (len $reusablePages) 0 -}}
<div id="home" class="strip bg-cover bg-position-top bg-overlay">
  <div class="container pt-8 pb-8 pb-md-4 pt-md-4">
    <div class="row justify-content-start">
      {{ range $idx, $page := first 2 $reusablePages }}
      <div class="col-12 col-md-5{{ if (eq $idx 0) }} mr-md-auto{{- end -}}">
        <h2 class="text-primary{{ if eq .Language.Lang "en" }} text-capitalize{{- end -}}">{{ $page.Title }}</h2>
        <div>{{ $page.Content }}</div>
        {{- if $page.Params.buttonLink -}}
        <a class="button" href="{{ $page.Params.buttonLink | relURL }}">{{ $page.Params.button }}</a>
        {{- end -}}
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}

{{ $services := where (where .Site.RegularPages "Type" "services") ".Params.featured" true }}
{{- if gt (len $services) 0 -}}
<div class="container pt-8 pb-8 pb-md-14 pt-md-14">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="text-center mb-3">{{- i18n "service" (len $services) -}}</h2>
    </div>
    {{ range first 6 (sort $services ".Params.weight") }}
    <div class="col-12 col-md-4 mb-1">
      {{ .Render "summary" }}
    </div>
    {{ end }}
    <div class="col-12 text-center">
      <a class="button button-primary" href="{{ .Site.BaseURL }}/services">View All Services</a>
    </div>
  </div>
</div>
{{- end -}}

{{ range first 1 (after 2 $reusablePages) }}
<div id="home" class="strip bg-primary bg-cover bg-position-top bg-overlay" style='background-image: url("{{ .Params.background | relURL }}");'>
  <div class="container pt-4 pb-4 pb-md-6 pt-md-6">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 text-center text-white">
        <h2>{{ .Title }}</h2>
        <p>{{ .Content }}</p>
        {{- if .Params.buttonLink -}}
        <a class="button button-white" href="{{ .Params.buttonLink | relURL }}">{{ i18n .Params.button }}</a>
        {{- end -}}
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ end }}

{{ define "footer_js" }}
{{ end }}
